In [14]:
import pandas as pd

data = {'ID': [1, 2, 3, 4, 5, 6], 'Name': ['John', 'Jane', 'Mary', 'John1', 'Jane1', 'Mary1'], 'AniType': ['Lion', 'Monkey', 'Lion', 'Lion', 'Monkey', 'Horse'], 'Gender': ['M', 'F', 'F', 'M', 'M', 'F'], 'Weight': [10, 100, 50, 10, 100, 50]}
df = pd.DataFrame(data)
df

   ID   Name AniType Gender  Weight
0   1   John    Lion      M      10
1   2   Jane  Monkey      F     100
2   3   Mary    Lion      F      50
3   4  John1    Lion      M      10
4   5  Jane1  Monkey      M     100
5   6  Mary1   Horse      F      50

In [15]:
df.groupby('AniType')['AniType'].count()

AniType
Horse     1
Lion      3
Monkey    2
Name: AniType, dtype: int64

In [13]:
df[df['Gender'] == 'M'].groupby('AniType')['AniType'].count()

AniType
Lion    3
Name: AniType, dtype: int64

In [17]:
df2 = df.groupby('AniType')['Gender'].value_counts()
df2

AniType  Gender
Horse    F         1
Lion     M         2
         F         1
Monkey   F         1
         M         1
Name: Gender, dtype: int64

In [20]:
# df2.append([['Horse', 'M'], 0])
df2 = pd.DataFrame(df2)
df2.loc[('Horse', 'M')] = ('Horse', 'M', 0)
df2

AttributeError: 'DataFrame' object has no attribute 'ix'

In [24]:
df[df['Gender'] == 'M'].groupby('AniType')['AniType'].count()

AniType
Lion      2
Monkey    1
Name: AniType, dtype: int64

In [25]:
df[df['Gender'] == 'F'].groupby('AniType')['AniType'].count()

AniType
Horse     1
Lion      1
Monkey    1
Name: AniType, dtype: int64

In [31]:
m = pd.DataFrame(df[df['Gender'] == 'M'].groupby('AniType')['AniType'].count())
f = pd.DataFrame(df[df['Gender'] == 'F'].groupby('AniType')['AniType'].count())
m

         AniType
AniType
Lion           2
Monkey         1

In [33]:
m = m.rename(columns={"AniType": "M"})

In [37]:
m

         M
AniType
Lion     2
Monkey   1

In [34]:
f = f.rename(columns={"AniType": "F"})
f

In [38]:
f

         F
AniType
Horse    1
Lion     1
Monkey   1

In [35]:
dfm = pd.merge(m, f)
dfm

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [36]:
m.merge(f)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [40]:
df3 = pd.concat([m, f], axis=1, join='outer')
df3.fillna(0, inplace=True)
df3

           M  F
AniType
Lion     2.0  1
Monkey   1.0  1
Horse    0.0  1

In [1]:
import json

diff = {'add': ['5-6', '9-10'], 'remove': ['5-4', '9-4']}
with open("diff.json", "w") as file:
    json.dump(diff, file)

In [1]:
from esa import SAW

sa = SAW(r"C:\Users\test\PWCase\IEEE 14_bus_20220628.PWB")

In [3]:
key = sa.get_key_field_list('branch')
fields = key + ['Selected']
df = sa.GetParametersMultipleElement('branch', fields)
df

    BusNum  BusNum:1 LineCircuit Selected
0        1         2           1       NO
1        1         5           1       NO
2        2         3           1       NO
3        2         4           1       NO
4        2         5           1       NO
5        3         4           1       NO
6        4         5           1       NO
7        4         7           1       NO
8        4         9           1       NO
9        5         6           1       NO
10       6        11           1       NO
11       6        12           1       NO
12       6        13           1       NO
13       7         8           1       NO
14       7         9           1       NO
15       9        10           1       NO
16       9        14           1       NO
17      10        11           1       NO
18      12        13           1       NO
19      13        14           1       NO

In [4]:
df['Selected'] = 'YES'
sa.change_parameters_multiple_element_df('branch', df)
sa.GetParametersMultipleElement('branch', fields)

    BusNum  BusNum:1 LineCircuit Selected
0        1         2           1      YES
1        1         5           1      YES
2        2         3           1      YES
3        2         4           1      YES
4        2         5           1      YES
5        3         4           1      YES
6        4         5           1      YES
7        4         7           1      YES
8        4         9           1      YES
9        5         6           1      YES
10       6        11           1      YES
11       6        12           1      YES
12       6        13           1      YES
13       7         8           1      YES
14       7         9           1      YES
15       9        10           1      YES
16       9        14           1      YES
17      10        11           1      YES
18      12        13           1      YES
19      13        14           1      YES

In [5]:
sa.RunScriptCommand('CalculateShiftFactorsMultipleElement(BRANCH,SELECTED,BUYER,[SLACK],DC)')

In [15]:
sa.pw_order = True
sa.GetParametersMultipleElement('Bus', ['MultBusTLRSens', 'MultBusTLRSens:1']).to_numpy(dtype=float)

array([[ 0.        ,  0.        ],
       [-0.83802629, -0.1619737 ],
       [-0.74654102, -0.25345895],
       [-0.6675052 , -0.33249477],
       [-0.61055624, -0.38944376],
       [-0.62992203, -0.37007794],
       [-0.65729469, -0.34270534],
       [-0.65729469, -0.34270534],
       [-0.6519233 , -0.3480767 ],
       [-0.64801323, -0.35198674],
       [-0.63912565, -0.36087433],
       [-0.63166058, -0.36833942],
       [-0.63301903, -0.36698097],
       [-0.64365786, -0.35634214]])

In [16]:
df.shape

(20, 4)

In [17]:
isf_fields = ['MultBusTLRSens']
for i in range(1, df.shape[0]):
    isf_fields += [f"MultBusTLRSens:{i}"]

In [18]:
sa.GetParametersMultipleElement('Bus', isf_fields).to_numpy(dtype=float)

array([[ 0.0000000e+00,  0.0000000e+00,  0.0000000e+00,  0.0000000e+00,
         0.0000000e+00,  0.0000000e+00,  0.0000000e+00,  0.0000000e+00,
         0.0000000e+00,  0.0000000e+00,  0.0000000e+00,  0.0000000e+00,
         0.0000000e+00,  0.0000000e+00,  0.0000000e+00,  0.0000000e+00,
         0.0000000e+00,  0.0000000e+00,  0.0000000e+00,  0.0000000e+00],
       [-8.3802629e-01, -1.6197370e-01,  2.7343450e-02,  5.7223980e-02,
         7.7406270e-02,  2.7343450e-02,  8.0020670e-02,  2.8890500e-03,
         1.6577100e-03, -4.5467600e-03, -2.7379500e-03, -4.0213000e-04,
        -1.4066700e-03,  0.0000000e+00,  2.8890500e-03,  2.7379500e-03,
         1.8088100e-03,  2.7379500e-03, -4.0213000e-04, -1.8088100e-03],
       [-7.4654102e-01, -2.5345895e-01, -5.3203267e-01, -1.4343266e-01,
        -7.1075740e-02,  4.6796736e-01,  3.0708614e-01,  1.1086980e-02,
         6.3615900e-03, -1.7448570e-02, -1.0507120e-02, -1.5432200e-03,
        -5.3982300e-03,  0.0000000e+00,  1.1086980e-02,  1.0507120e-02,
         6.9414500e-03,  1.0507120e-02, -1.5432200e-03, -6.9414500e-03],
       [-6.6750520e-01, -3.3249477e-01, -1.5136938e-01, -3.1678370e-01,
        -1.9935215e-01, -1.5136938e-01,  5.0325221e-01,  1.8169320e-02,
         1.0425360e-02, -2.8594690e-02, -1.7219050e-02, -2.5290200e-03,
        -8.8466200e-03,  0.0000000e+00,  1.8169320e-02,  1.7219050e-02,
         1.1375640e-02,  1.7219050e-02, -2.5290200e-03, -1.1375640e-02],
       [-6.1055624e-01, -3.8944376e-01, -1.0307051e-01, -2.1570452e-01,
        -2.9178122e-01, -1.0307051e-01, -3.0163613e-01, -1.0890210e-02,
        -6.2486900e-03,  1.7138900e-02,  1.0320640e-02,  1.5158300e-03,
         5.3024300e-03,  0.0000000e+00, -1.0890210e-02, -1.0320640e-02,
        -6.8182600e-03, -1.0320640e-02,  1.5158300e-03,  6.8182600e-03],
       [-6.2992203e-01, -3.7007794e-01, -1.1949480e-01, -2.5007701e-01,
        -2.6035023e-01, -1.1949480e-01, -2.7929680e-02, -2.1708255e-01,
        -1.2455959e-01, -6.5835786e-01,  2.0572889e-01,  3.0216090e-02,
         1.0569715e-01,  0.0000000e+00, -2.1708255e-01, -2.0572889e-01,
        -1.3591324e-01, -2.0572889e-01,  3.0216090e-02,  1.3591324e-01],
       [-6.5729469e-01, -3.4270534e-01, -1.4270973e-01, -2.9866090e-01,
        -2.1592404e-01, -1.4270973e-01,  3.5894135e-01, -6.3420677e-01,
        -1.6610523e-01, -1.9968802e-01, -1.2024745e-01, -1.7661140e-02,
        -6.1779430e-02,  0.0000000e+00,  3.6579326e-01,  1.2024745e-01,
         7.9440570e-02,  1.2024745e-01, -1.7661140e-02, -7.9440570e-02],
       [-6.5729469e-01, -3.4270534e-01, -1.4270973e-01, -2.9866090e-01,
        -2.1592404e-01, -1.4270973e-01,  3.5894135e-01, -6.3420677e-01,
        -1.6610523e-01, -1.9968802e-01, -1.2024745e-01, -1.7661140e-02,
        -6.1779430e-02, -1.0000000e+00,  3.6579326e-01,  1.2024745e-01,
         7.9440570e-02,  1.2024745e-01, -1.7661140e-02, -7.9440570e-02],
       [-6.5192330e-01, -3.4807670e-01, -1.3815422e-01, -2.8912720e-01,
        -2.2464187e-01, -1.3815422e-01,  2.8302494e-01, -4.5133516e-01,
        -2.5897118e-01, -2.8969365e-01, -1.7444672e-01, -2.5621570e-02,
        -8.9625340e-02,  0.0000000e+00, -4.5133516e-01,  1.7444672e-01,
         1.1524691e-01,  1.7444672e-01, -2.5621570e-02, -1.1524691e-01],
       [-6.4801323e-01, -3.5198674e-01, -1.3483809e-01, -2.8218725e-01,
        -2.3098792e-01, -1.3483809e-01,  2.2776243e-01, -4.0970406e-01,
        -2.3508371e-01, -3.5521224e-01, -2.8460121e-01, -1.5698160e-02,
        -5.4912850e-02,  0.0000000e+00, -4.0970406e-01, -7.1539879e-01,
         7.0611010e-02,  2.8460121e-01, -1.5698160e-02, -7.0611010e-02],
       [-6.3912565e-01, -3.6087433e-01, -1.2730046e-01, -2.6641262e-01,
        -2.4541260e-01, -1.2730046e-01,  1.0214976e-01, -3.1507578e-01,
        -1.8078704e-01, -5.0413716e-01, -5.3498435e-01,  6.8579200e-03,
         2.3989280e-02,  0.0000000e+00, -3.1507578e-01, -4.6501562e-01,
        -3.0847190e-02, -4.6501562e-01,  6.8579200e-03,  3.0847190e-02],
       [-6.3166058e-01, -3.6833942e-01, -1.2096927e-01, -2.5316277e-01,
        -2.5752857e-01, -1.2096927e-01, -3.3580300e-03, -2.3559320e-01,
        -1.3518080e-01, -6.2922597e-01,  1.7568739e-01, -5.2006292e-01,
        -2.8485045e-01,  0.0000000e+00, -2.3559320e-01, -1.7568739e-01,
        -1.9508661e-01, -1.7568739e-01,  4.7993708e-01,  1.9508661e-01],
       [-6.3301903e-01, -3.6698097e-01, -1.2212136e-01, -2.5557384e-01,
        -2.5532380e-01, -1.2212136e-01,  1.5841310e-02, -2.5005671e-01,
        -1.4347981e-01, -6.0646349e-01,  1.5221412e-01, -1.6866840e-01,
        -5.9000921e-01,  0.0000000e+00, -2.5005671e-01, -1.5221412e-01,
        -2.4132238e-01, -1.5221412e-01, -1.6866840e-01,  2.4132238e-01],
       [-6.4365786e-01, -3.5634214e-01, -1.3114426e-01, -2.7445683e-01,
        -2.3805678e-01, -1.3114426e-01,  1.6620556e-01, -3.6333117e-01,
        -2.0847546e-01, -4.2819336e-01, -3.1622400e-02, -8.8165240e-02,
        -3.0840573e-01,  0.0000000e+00, -3.6333117e-01,  3.1622400e-02,
        -6.0342902e-01,  3.1622400e-02, -8.8165240e-02, -3.9657098e-01]])